{minimum_otp_vsn, "23.0"}.

{alias, [
         {check, [lint, xref, dialyzer, edoc,
                  {eunit, "-c"}, {ct, "-c"}, {proper, "-c"},
                  {cover, "-v --min_coverage=56"}
                 ]}
        ]}.

{dialyzer, [{warnings, [unknown,
                        no_unused]}]}.

{edoc_opts, []}.
{erl_opts, [
            debug_info,
            warn_unused_import,
            warnings_as_errors,
            warn_untyped_record
           ]}.

{deps, [
        {gproc, "0.8.0"},
        {ecureuil, "1.0.2"},
        {robots, "1.0.0"},
        {hackney, "1.15.2"},
        {backoff, "1.1.6"}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },

            {test, [
                    {erl_opts, [nowarn_export_all]},
                    {deps, [
                            {meck, "0.8.9"},
                            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
                           ]}
                   ]}
           ]
}.

{project_plugins, [
           {rebar3_proper, "0.11.1"},
           {rebar3_lint, "2.0.1"},
           rebar3_hex,
           rebar3_ex_doc,
           coveralls
          ]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/AntoineGagne/treewalker"},
    {source_url, "https://github.com/AntoineGagne/treewalker"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{xref_ignores, []}.
